{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lista Inmuebles</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Direccion</th>
                <th>Estrato</th>
                <th>Servicios</th>
                <th>Reparaciones</th>
                <th>Mejoras</th>
                <th>Novedades</th>
                <th>Inversiones</th>
                <th>Url</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('inmueble_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.tipo }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.estrato }}</td>
                <td>
                	{% if entity.agua == 1 %} Agua {% endif %}{% if entity.luz == 1 %}	Luz {% endif %}
					{% if entity.gas == 1 %} Gas {% endif %}{% if entity.telefono == 1 %} Telefono {% endif %}
				</td>
                <td>{{ entity.reparaciones }}</td>
                <td>{{ entity.mejoras }}</td>
                <td>{{ entity.novedades }}</td>
                <td>{{ entity.inversiones }}</td>
                <td>{{ entity.url }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('inmueble_show', { 'id': entity.id }) }}">Visualizar</a>
                    </li>
                    <li>
                        <a href="{{ path('inmueble_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

	<ul>
        <li>
            <a href="{{ path('inmueble_new') }}">
                Nuevo Inmueble
            </a>
        </li>
    </ul>
    {% endblock %}
