{% extends '::base.html.twig' %}

{% block menu %}
	<div id="topnav">			
		<ul>
	{% if app.user %}
			<li><a href="{{ path('inmueble') }}">Inicio</a></li>
			<li><a href="{{ path('inmueble_edit', { 'id': entity.id }) }}">Editar</a></li>
	{% endif %}
			<li><a href="{{ path('inmueble_show', { 'id': entity.id-1 }) }}">Anterior</a></li>
			<li><a href="{{ path('inmueble_show', { 'id': entity.id+1 }) }}">Siguiente</a></li>					
	{% if app.user %}
			<li class="last">{{ form(delete_form) }}</li>
	{% endif %}
		</ul>  
	</div>
	<br class="clear" />			
{% endblock %}



{% block body %}
	<div class="fl_left">				
		<img class="float" src="{{ entity.url }}" width="575" height="300" alt="image 1" />							
	</div>					

	<div class="fl_right">
		<h2>Caracteristicas del Inmueble.</h2>
		<p><b>Tipo: </b>{{ entity.tipo }}</p>
		<p><b>Direccion: </b>{{ entity.direccion }}</p>
		<p><b>Estrato: </b>{{ entity.estrato }}</p>
		<p><b>Servicios: </b>{% if entity.agua == 1 %} Agua {% endif %}{% if entity.luz == 1 %}	Luz {% endif %}
		{% if entity.gas == 1 %} Gas {% endif %}{% if entity.telefono == 1 %} Telefono {% endif %}				

	</div>
{% endblock %}

				
				
{% block detalles %}
<ul>
  <li>
	<h2>Reparaciones</h2>				
	<p>{{ entity.reparaciones }}</p>		
  </li>
  <li>
	<h2>Mejoras</h2>						
	{{ entity.mejoras }}
  </li>
  <li class="last">
	<h2>Novedades</h2>				
	<p>{{ entity.novedades }}</p>				
  </li>
</ul>
<br class="clear" />
{% endblock %}
